body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: white;
    background-color: #389F83;
    font-size: 14px;
    margin: auto;
    text-align: center;
}

h1 {
    margin-top: 2em;
}

