body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: white;
    background-color: #389F83;
    font-size: 0.9em;
}


#snek1 {
    position: absolute;
    top: 0;
    left: 4em;
    z-index: -5;
}

#snek2 {
    position: absolute;
    top: 0;
    left: 81em;
    z-index: -5;
}

#container {
    max-width: 1200px;
    margin: auto;
}

#banner {
    max-width: 1100px;
    height: 250px;
    margin: auto;
    background-color: #465D57;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#title {
    perspective: 1000px;
}

#title h1 {
    animation: animation1 2s 3s;
    animation-fill-mode: forwards;
}


@keyframes animation1 {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

#flower1, #flower2 {
    padding-top: 2em;
    perspective: 900px;
}

#flower1 img {
    transform: rotateY(45deg);
    transition: all 5s;
    cursor: pointer;
}

#flower1 img:hover {
    transform: rotateY(2200deg);
}

#flower2 img {
    transform: rotateY(-45deg);
    transition: all 5s;
    cursor: pointer;
}

#flower2 img:hover {
    transform: rotateY(-2200deg);
}

h1, h2 {
    font-family: "Racing Sans One", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 150px;
    margin: 0;
}


#thin {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: normal;
}


h3 {
    font-size: 24px;
}

main {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}

main div {
    flex: 1;
    padding-left: 5em;
    min-width: 40%;
}

main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main ul li {
    margin: 1.5em;
}

a {
    text-decoration: none;
    color: white;
}

main ul li a {
    box-sizing: border-box;
    background-color: #465D57;
    padding: 0.5em 10em 0.5em 0.5em;
    max-width: 20px;
}

footer {
    margin: auto;
    text-align: center;
}