body {
    background-color: #4f4949;
    font-family: 'Anonymous Pro', 'Times New Roman', Times, serif;
    color: white;
}

h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: rgb(225, 55, 55);
}

header {
    background-color: rgb(225, 55, 55);
}

#evidence-list {
    display: block;
    /* display: none; */
}

#case-summary {
    /* display: block; */
    display: none;
}

#choose-suspect {
    /* display: block; */
    display: none;
}

#case-closed {
    /* display: block; */
    display: none;
}