body {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
    background-color: rgb(63, 123, 100);
}

h1 {
    font-weight: 900;
    text-align: center;
    color: aliceblue;
}

h2 {
    text-align: center;
    font-weight: 700;
    color: aliceblue;
}

h3 {
    font-weight: 600;
    color: black;
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.overlay article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: aliceblue;
    overflow: hidden;
    border-radius: 10px;
}


.overlay h3 {
    font-weight: 600;
    padding: 2em 1em 1em 1em;
}

.overlay div {
    width: 700px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.overlay img {
    display: block;
    width: 100%;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transition: all 3s ease;
}

/* .overlay p {
    flex: 1;
    padding-left: 2em;
} */

.close {
    font-size: 36px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    color: tomato;
    position: absolute;
    outline: none;
    
    cursor: pointer;
    top: 10px;
    right: 10px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#map-overlay {
    margin: auto;
    width: 1200px;
    position: relative;
}

#map {
    display: block;
    filter: grayscale(80%);
    margin: auto;
}

.thumbnail {
    position: absolute;
    border-radius: 10px;
    filter: contrast(150%);
    /* filter: drop-shadow(10px 10px 20px gray); */
    cursor: pointer;
    transition: all 0.5s;
}

.thumbnail:hover {
    transform: scale(2);
}

#hotspring {
    top: 40%;
    left: 65%;
}

#forest {
    top: 53%;
    left: 65%;
}

#lake {
    top: 32%;
    left: 40%;
}

#waterfall {
    top: 55%;
    left: 55%
}

#spring {
    top: 35%;
    left: 53%
}


/* #top {
    position: absolute;
    width: 700px;
    height: 100px;
    top: 0;
    left: 0;
}

#bottom {
    position: absolute;
    width: 700px;
    height: 100px;
    bottom: 0;
    left: 0;
} */

.start {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* .top {
    bottom: -3453px;
}

.bottom {
    top: -3453px;
} */

