body {
    font-family: "Chilanka", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/roshambo_pattern.png);
}

main {
    max-width: 1200px;
    max-height: 750px;
    aspect-ratio: 1200 / 750;
    margin: auto;
    background-color: whitesmoke;
    /* background-image: url(images/tabletop_photo.jpeg); */
}

header {
    /* background-color: #6F6684; */
    margin-top: 10px;
    padding-top: 15px;
}

h1 {
    font-family: "Chewy", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 24px;
}

#container {
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    position: relative;
}

#container section {
    flex: 1;
    display: flex;
}

.health {
    text-align: center;
}

#healthbar1, #healthbar2 {
    height: 500px;
    width: 30px;
    border: 2px solid #333;
    border-radius: 3px;
    background-color: darkred;
    margin: auto;
    position: relative;
    overflow: hidden;
    
}

#healthbar1 div, #healthbar2 div{
    height: 100%;
    width: 30px;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6CD18E;
}


fieldset {
    border: none;
    margin: 100px 0 100px 0;
}

form {
    position: relative;
}

form input[type=radio] {
    /* appearance: none; */
}

form input[type=submit] {
    background-color: #a8a8a8;
    border: none;
    border-radius: 5px;
    padding: 6px 5px 5px 5px;
    cursor: pointer;
    position: absolute;
}

form label {
    margin-right: 8px;
    cursor: pointer;
}


#finish1 {
    bottom: 50px;
    left: 275px;
}

#finish2 {
    bottom: 50px;
    right: 325px;
}

.cardselections {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardselections div {
    height: 145px;
    width: 205px;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-color: #9b94ad;
    filter: drop-shadow(0px 5px 1px #3e3b46);
    transition: all 0.75s ease;
    overflow: hidden;
}

.cardselections div img {
    display: block;
    margin: auto;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.448);
    transition: all 1s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

#textbox {
    position: absolute;
    background-color: whitesmoke;
    border: 2px solid #333;
    border-radius: 3px;
    height: 40px;
    width: 700px;
    text-align: center;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, -0%);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#gamebtns button {
    position: absolute;
}

#nextround {
    bottom: 30px;
    left: 425px
}

#quitgame {
    bottom: 30px;
    right: 475px;
}