body {
    font-family: "Chilanka", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/roshambo_pattern.png);
}

main {
    max-width: 1200px;
    max-height: 750px;
    aspect-ratio: 1200 / 750;
    margin: auto;
    background-color: whitesmoke;
    /* background-image: url(images/tabletop_photo.jpeg); */
}

header {
    /* background-color: #6F6684; */
    margin-top: 5px;
    padding-top: 15px;
}

h1 {
    font-family: "Chewy", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #444;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    font-size: 24px;
}

#container {
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    position: relative;
}

#container section {
    flex: 1;
    display: flex;
}

.health {
    text-align: center;
}

#healthbar1, #healthbar2 {
    height: 500px;
    width: 30px;
    border: 2px solid #333;
    border-radius: 3px;
    background-color: darkred;
    margin: auto;
    position: relative;
    overflow: hidden;
    
}

#healthbar1 div, #healthbar2 div{
    height: 100%;
    width: 30px;
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6CD18E;
}


fieldset {
    border: none;
    margin: 100px 0 100px 0;
}

form {
    position: relative;
}

form input[type=radio] {
    appearance: none;
    margin: 0;
    padding: 0;
}

form input[type=radio]:checked {
    position: absolute;
    outline: 2px solid #6CD18E;
    border-radius: 50px;
    padding: 25px;
    top: 50px;
    left: 50px;
}

/* Vertical Gap: 162px. Horizontal gap: 57px */
#rock1-1:checked {
    top: 103px;
    left: 22px;
}

#rock1-2:checked {
    top: 265px;
    left: 22px;
}

#rock1-3:checked {
    top: 428px;
    left: 22px;
}

#paper1-1:checked {
    top: 103px;
    left: 86px;
}

#paper1-2:checked {
    top: 265px;
    left: 86px;
}

#paper1-3:checked {
    top: 428px;
    left: 86px;
}

#scissors1-1:checked {
    top: 103px;
    left: 147px;
}

#scissors1-2:checked {
    top: 265px;
    left: 147px;
}

#scissors1-3:checked {
    top: 428px;
    left: 147px;
}

#rock2-1:checked {
    top: 103px;
    left: 22px;
}

#rock2-2:checked {
    top: 265px;
    left: 22px;
}

#rock2-3:checked {
    top: 428px;
    left: 22px;
}

#paper2-1:checked {
    top: 103px;
    left: 86px;
}

#paper2-2:checked {
    top: 265px;
    left: 86px;
}

#paper2-3:checked {
    top: 428px;
    left: 86px;
}

#scissors2-1:checked {
    top: 103px;
    left: 147px;
}

#scissors2-2:checked {
    top: 265px;
    left: 147px;
}

#scissors2-3:checked {
    top: 428px;
    left: 147px;
}

button {
    background-color: #a8a8a8;
    border: none;
    border-radius: 5px;
    padding: 7px 6px 6px 6px;
    cursor: pointer; 
    transition: all 0.5s ease;
}

button:hover {
    background-color: #6CD18E;
}

form input[type=submit] {
    background-color: #a8a8a8;
    border: none;
    border-radius: 5px;;
    padding: 7px 6px 6px 6px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    transition: all 0.5s ease;
}

form input[type=submit]:hover {
    background-color: #6CD18E;
}

form label {
    margin-left: 15px;
    cursor: pointer;
}


#finish1 {
    bottom: 30px;
    left: 325px;
}

#finish2 {
    bottom: 30px;
    right: 325px;
}

.cardselections {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardselections div {
    height: 145px;
    width: 205px;
    border: 2px solid #77757a;
    border-radius: 5px;
    background-color: #9b94ad;
    filter: drop-shadow(0px 5px 1px #3e3b46);
    transition: all 0.75s ease;
    overflow: hidden;
}

.cardselections div img {
    display: block;
    margin: auto;
}

#side1 .cardselections {
    margin-left: 65px;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.549);
    transition: all 1s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#overlay h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}

#restart {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#help {
    color: black;
    z-index: 3;
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: 700px;
    padding: 5px 5px 5px 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textbox {
    position: absolute;
    background-color: whitesmoke;
    border: 2px solid #333;
    border-radius: 3px;
    height: 40px;
    width: 700px;
    text-align: center;
    bottom: 65px;
    left: 50%;
    transform: translate(-50%, -0%);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

#gamebtns button {
    position: absolute;
}

#nextround {
    bottom: 30px;
    left: 425px
}

#quitgame {
    bottom: 30px;
    right: 475px;
}