body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: white;
    background-color: #389F83;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Racing Sans One", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 7em;
    margin: auto;
}

h2 {
    font-size: 1.5em;
    background-color: #465D57;
    padding: 0.4em;
}

time {
    color: #cde0db;
    font-weight: 700;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: white;
}


header {
    width: 1100px;
    /* height: 250px; */
    margin: auto;
    /* background-color: #465D57; */
    text-align: center;
    /* display: flex;
    justify-content: space-between; */
}

main {
    max-width: 600px;
    margin: auto;
}

a {
    /* text-decoration: none; */
    color: white;
    font-weight: 500;
}

footer {
    margin: auto;
    text-align: center;
}