body {
    font-family: Quicksand, Arial, Helvetica, sans-serif;
    color: black;
    background-color: #389F83;
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(225, 232, 237);
    padding: 2em;
}

h1, h2 {
    font-family: "Racing Sans One", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 6em;
    line-height: .9em;
    margin: auto;
}

h2 {
    font-size: 1.5em;
    color: white;
    background-color: #465D57;
    padding: 0.4em;
    max-width: 15em;
}

time {
    color: #389F83;
    font-weight: 700;
}

p {
    font-size: 1em;
    line-height: 1.4em;
}


header {
    margin: auto;
    text-align: center;
    padding-bottom: 2em;
}

main {
    max-width: 600px;
    margin: auto;
}

a {
    /* text-decoration: none; */
    color: #389F83;
    font-weight: 700;
}

footer {
    margin: auto;
    text-align: center;;
}

footer a {
    color: #465D57;
}

#sketch {
    font-size: 4em;
    line-height: 1em;
    text-align: center;
    margin-bottom: 0.5em;
}